@use "../abstracts/colours" as c;

#code-con div {
    justify-self: center;
}

#code-text {
    margin-bottom: 5px;
}

#guess-who-area {
    margin-top: 20px;
}

#character-con, #board-con {
    display: flex;
    flex-direction: column;
    p {
        text-align: center;
    }
}

.board-piece {
    background-color: white;
    width: 20%;
    height: 125px;
    border: 3px solid blue;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

#gw-board {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#gw-generate {
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
}

.gw-image {
    margin-top: 5px;
    max-height: 80px!important;
}

.gw-name {
    color: white;
    background-color: rgb(83, 83, 255);
    width: 100%;
    padding-top: 5px;
}

.gw-key {
    display: none;
}

#gw-game-select {
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#select-image {
    margin-top: 20px;
    align-self: center;
    max-width: 75%;
}